<h1>Cocktails#new</h1>
<div class = "container">
<p>Find me in app/views/cocktails/new.html.erb</p>
<%= simple_form_for [@cocktail] do |f| %>
  <%= f.input :name %>
  <%= f.submit "add a cocktail", class: "btn btn-warning" %>
<% end %>
  </div>

