// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "card";
@import "footer";
@import "banner";

.container {
  padding-top: 100px;
  justify-content: center;
  text-align: center;
  margin:0 auto;
  ul{
    text-align: center;
    li{
    display: flex;
    }
  }
}

