<div class="footer">
  <div class="footer-links">
    <div>Share this app on</div>
    <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//fumis-cocktail-collection.herokuapp.com/"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/home?status=https%3A//fumis-cocktail-collection.herokuapp.com/"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A//fumis-cocktail-collection.herokuapp.com/&title=&summary=&source="><i class="fab fa-linkedin-in"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fa fa-heart"></i> at Le Wagon
  </div>
</div>

